<div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Insert New Credential</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="insertCredential()">
        <div class="mb-3">
          <label for="azure_org_url" class="form-label">Azure Org URL</label>
          <input type="text" id="azure_org_url" [(ngModel)]="credential.azure_org_url" name="azure_org_url" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="project" class="form-label">Project</label>
          <input type="text" id="project" [(ngModel)]="credential.project" name="project" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="repository" class="form-label">Repository</label>
          <input type="text" id="repository" [(ngModel)]="credential.repository" name="repository" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="project_path" class="form-label">Local Salesforce Project Path</label>
          <!-- Text input for absolute path -->
          <input type="text" id="project_path" [(ngModel)]="credential.project_path" name="project_path" class="form-control" placeholder="Enter absolute folder path" required>
        </div>
        <div class="mb-3">
          <label for="pat" class="form-label">PAT</label>
          <input type="text" id="pat" [(ngModel)]="credential.pat" name="pat" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">
          <i class="bi bi-plus-circle"></i> Insert Credential
        </button>
      </form>
    </div>
  </div>
  