<!-- src/app/update-credential/update-credential.component.html -->
<div class="card shadow">
    <div class="card-header bg-warning">
      <h4 class="mb-0 text-dark">Update Credential PAT</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateCredential()">
        <div class="mb-3">
          <label for="newPat" class="form-label">New PAT</label>
          <input
            type="text"
            id="newPat"
            [(ngModel)]="newPat"
            name="newPat"
            class="form-control"
            required
          />
        </div>
  
        <button type="submit" class="btn btn-warning">
          <i class="bi bi-check-circle"></i> Update Credential
        </button>
      </form>
    </div>
  </div>
  